* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #F5F5F5;
}
nav {
  float:right;
  font-family: Arial, sans-serif;
  margin-right: 20px;
}
footer nav {
	margin-right:0;
}
nav a {
  color: #25366c;
  text-decoration: none;
  display: block;
  float: left;
  padding: 25px;
}
header img {
	width:100%;
}
article {
  width: 100%;
  padding: 1em;
}
article img {
	display:block;
	width:38%;
	float:left;
	padding:0 1em;
}
article>div {
	width:62%;
	float:left;
	padding:0 1em;
}
h1, h2, h3, a {
	color: #25366c;
}
h1 {
	float:left;
	margin:.5em;
	font-size: 2em;
}
h2 {
	padding:0 1.5em;
}
h3 {
	font-size:2em;
}
section>div {
	max-width: 75em;
	margin: .5em auto;
	padding:4em 0;
}
article.featured {
	width:50%;
	float:left;
	padding:1em;
}
section a {
	color:#F5F5F5;
	display:block;
	padding:.5em 0;
}
.featured img, .featured div {
	width:100%;
	float:none;
}
#movies {
	background-color:#2196F3;
}
#tv {
	background-color:#64b5f6;
}
#books {
	background-color:#1976d2;
}
.headline {
	width: 150px;
	padding: 10px;
	margin: 0 10px;
	float: left;
}
input {
  border: 0;
  font-size:18px;
  float: left;
  padding: 25px;
  display: block;
}
input[type="submit"] {
  background: green;
  color: white;
 }
input[type="text"] {
 	outline: 2px solid #0d47a1;
 	background-color: #F5F5F5;
 	padding:.5em;
 	margin:.75em;
 }
 .mobile-nav {
 	display:none;
 }
 .menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}
.clearfix:after, article:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

 @media only screen and (min-width:550px) and (max-width:835px) {
 	nav a {
 		display:none;
 	}
 	.mobile-nav {
 		display:block;
 	}
 	article.featured {
		width: 100%;
	  	padding: 1em;
	}
	.featured img {
		display:block;
		width:100%;
		float:none;
		padding:0 1em;
	
	}
	.featured div {
		display:block;
		float:none;
		width: 100%;
	}
}
@media only screen and (min-width:421px) and (max-width:549px) {
 	nav a {
 		display:none;
 	}
 	.mobile-nav {
 		display:block;
 	}
 	h1 {
 		font-size:1.5em;
 	}
 	.headline {
		width: 112.5px;
		padding: 10px;
		margin: 0 10px;
		float: left;
	}
	h3 {
		font-size: 1.5em;
	}
 	article.featured {
		width: 100%;
	  	padding: 1em;
	}
	.featured img {
		display:block;
		width:100%;
		float:none;
		padding:0 1em;
	
	}
	.featured div {
		display:block;
		float:none;
		width: 100%;
	}
}
@media only screen and (max-width:420px) {
	nav a {
 		display:none;
	}
	.mobile-nav {
 		display:block;
 	}
	 h3 {
 		font-size:1em;
	 }
	 .headline {
		width: 100px;
		padding: 10px;
		margin: 0 10px;
		float: left;
	}
 	article.featured {
		width: 100%;
	  	padding: 1em;
	}
	.featured img {
		display:block;
		width:100%;
		float:none;
		padding:0 1em;
	}
	.featured div {
		display:block;
		float:none;
		width: 100%;
	}
	article {
		width: 100%;
		padding: 1em;
	}
	article img {
		display:block;
		width:100%;
		float:none;
		padding:0 1em;
	}
	article>div {
		display:block;
		float:none;
		width: 100%;
	}
}
