* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #F5F5F5;
}
nav {
  float:right;
  font-family: Arial, sans-serif;
  margin-right: 20px;
}
nav a {
  color: #25366c;
  text-decoration: none;
  display: block;
  float: left;
  padding: 25px;
}
header img {
	max-width: 1200px
}
article {
  width: 50%;
  padding: 1em;
  float: left;
}
article img {
	display:block;
	width:50%;
	float:left;
}
article>div {
	width:50%;
	float:left;
}
h1, h2, h3, a {
	color: #25366c;
}
h1 {
	margin: 0 50px;
	font-size: 40px;
}
section>div {
	max-width: 1000px;
	margin: 5px auto;
}
#movies {
	background-color:#2196F3;
}
#tv {
	color:#4CAF50;

}
#books {
	background-color:#9E9E9E;
}
.headline {
	width: 150px;
	padding: 10px;
	margin: 0 10px;
	float: left;
}
#name {
	width: 700px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
