* { margin:0; padding:0; box-sizing:border-box; }
* + * {
	margin-top:1em;
}
body { 
	background-image:url("../Images/stripes.png"), url("../Images/background.png");
	background-repeat:repeat-x, no-repeat;
	background-size:auto, cover;
	background-color:#525a6a;
	color:#fff;
	font-family:arial, helvetica, sans-serif;
	font-size:18px;
}
section {
	margin:300px 0 0 100px;
}
hr {
	border-color:#fd6e6e;
	width: 150px;
}
p { 
}
img { display:block; }
